<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
/*  padding: 14px 16px; */
  font-size: 12px;
/*  width: 10%; */
}

.tablink:hover {
  background-color: #777;
}

.tablink2 {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink2:hover {
  background-color: #ccc;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
</style>
{% if passed %}
<title>Passed</title>
{% set status = 'green' %}
{% else %}
<title>Failed</title>
{% set status = 'red' %}
{% endif %}
</head>
<body>
<div class="header" id="myHeader">
{% for task in tasks %}
<button class="tablink" onclick="openPage('{{ task.id }}', this, '{{ status }}')"
        id="button_task_{{ task.id }}">&gt; {{ task.name }}</button>
{% endfor %}
</div>
{% for task in tasks %}
<div id="{{ task.id }}" class="tabcontent">
<span><div class="header" id="myHeader2">
<button class="tablink2"
        onclick="openPage2('{{ task.id }}.running', this, '{{ status }}')"
        id="button_task_{{ task.id }}_running">Running</button>
<button class="tablink2"
        onclick="openPage2('{{ task.id }}.cleanup', this, '{{ status }}')">Cleanup</button>
</div></span>
  <!-- <h2> Running log</h2>-->
  <div id="{{ task.id }}.running" class="tabcontent2">
      <h3>{{ task.name }} running log</h3>
  <p><pre>{{ include_file("logs/" + task.running_log_name) }}</pre></p>
  </div>
  <!-- <h2> Cleanup log</h2> -->
  <div id="{{ task.id }}.cleanup" class="tabcontent2">
  <h3>{{ task.name }} cleanup log</h3>
  <p><pre>{{ include_file("logs/" + task.cleanup_log_name) }}</pre></p> 
  </div>
</div>
{% endfor %}

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
  document.getElementById("button_task_" + pageName + "_running").click();
  window.scrollTo(0, 0);
}

function openPage2(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink2");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

// Get the last task button element with id="defaultOpen{ID}" and click on it
{% set last_task = tasks|last %}
e=document.getElementById("button_task_{{ last_task.id }}");
e.click();
window.scrollBy(0, document.body.scrollHeight);

</script>
   
</body>
</html> 


